
  <br/>
  <div class = "container">
    <div class = "row">
      <div class = "offset-3">
        <div class = "col-md-6">
          <form #f="ngForm" class="feedback-form" name="form" novalidate (submit) = "sendTest()">
            <div class = "form-group">
              <label for = "name">Name</label>
                <input type = "text" id = "name" class ="form-control" name = "name"/>
            </div>
            <button type = "submit" class="btn btn-primary" >Test</button>
          </form>
        </div>
      </div>
    </div>
  </div>

