<div class="container">
    <app-user-nav></app-user-nav>
    <br/>

    <div>
        <table class="table table-striped table-responsive-md btn-table" border="1">
            <thead>
                <title>Requests</title>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Status</th>
                    <th scope="col">Vehicles</th>
                    <th scope="col">Ask owner</th>
                    <th scope="col">All messages</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let req of requests">
                    <td>{{req.id}}</td>
                    <td>{{req.status}}</td>
                    <td><button class="btn-primary" (click)="vehicles(req)">Vehicles</button></td>
                    <td><div [hidden]="req.status!='RESERVED'"><button class="btn-primary" (click)="askOwner()">Ask owner</button></div></td>
                    <td><div [hidden]="req.status!='RESERVED'"><button class="btn-primary" (click)="allMessages()">All messages</button></div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden] = "hiddenVehicle">
        <table class="table table-striped table-responsive-md btn-table" border="1">
            <thead>
                <title>Vehicles</title>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Model</th>
                    <th scope="col">Gas Type</th>
                    <th scope="col">Gear Box</th>
                    <th scope="col">Vehicle Class</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">Proposed Mileage</th>
                    <th scope="col">CDW</th>
                    <th scope="col">Child Seats Number</th>
                    <th scope="col">Owner id</th>
                    <th scope="col">Valid from</th>
                    <th scope="col">Valid tru</th>
                    <th scope="col">Place</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of ads">
                    <td>{{a.vehicle.id}}</td>
                    <td></td>
                    <td>{{a.vehicle.model.manufacturer.name}}</td>
                    <td>{{a.vehicle.model.name}}</td>
                    <td>{{a.vehicle.gasType.name}}</td>
                    <td>{{a.vehicle.gearBox}}</td>
                    <td>{{a.vehicle.vehicleClass.name}}</td>
                    <td>{{a.vehicle.mileage}}</td>
                    <td>{{a.vehicle.proposedMileage}}</td>
                    <td>{{a.vehicle.cdw}}</td>
                    <td>{{a.vehicle.childSeatsNo}}</td>
                    <td>{{a.vehicle.owner.id}}</td>
                    <td>{{a.validFrom.toString().substring(0, 10)}}</td>
                    <td>{{a.validTru.toString().substring(0, 10)}}</td>
                    <td>{{a.place}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden] = "askOwnerHidden">
        <input #subject type="text" class="form-control" placeholder="Subject"/>
        <br/>
        <textarea #text class="form-control" placeholder="Message content..."></textarea>
        <br/>
        <button class="btn-primary" (click)="askOwnerSend()">Send message to owner</button>
    </div>
</div>