<nav class="navbar navbar-expand-lg navbar-dark bg-info" id = "generalNav">
  <a class="navbar-brand" href="#">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span class="text-light">  Rent a Car</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href = "userPage/ad/new">New Ad</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href = "userPage/review/add">New Review</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href = "userPage/cart">Cart</a>
      </li>
    </ul>
  </div>
</nav>
