<nav class="navbar navbar-expand-lg navbar-dark bg-info" id = "generalNav">
  <a class="navbar-brand" href="#">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span class="text-light">  Rent a Car</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="adminPage/users/action">Users Action</a>
          <a class="dropdown-item" href="#">Vehicles</a>
          <a class="dropdown-item" href = "#">Ads</a>
          <a class="dropdown-item" href = "#">Agents & Companies</a>
          <a class="dropdown-item" href = "adminPage/review/list">Reviews</a>
          <a class = "dropdown-item" href = "adminPage/vehicleClass/list">Vehicle Class</a>
          <a class="dropdown-item" href = "adminPage/gasType/list">Gas Type</a>
          <a class="dropdown-item" href="adminPage/manufacturer/list">Manufacturer</a>
          <a class="dropdown-item" href = "#">All Entities</a>
        </div>

      </li>
      <li>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" aria-haspopup="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add
        </a>
        <div class = "dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class ="dropdown-item" href="adminPage/gasType/add">Gas Type</a>
          <a class = "dropdown-item" href="adminPage/manufacturer/add">Manufacturer</a>
          <a class="dropdown-item" href="adminPage/vehicleClass/add">Vehicle class</a>
          <a class = "dropdown-item" href = "adminPage/model/add">Model</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href = "#">Messages</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "#">Search</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "#">Log out</a>
      </li>
    </ul>
  </div>
</nav>
