<nav class="navbar navbar-expand-lg navbar-dark bg-info" id = "generalNav">
  <a class="navbar-brand" href="#">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span class="text-light">  Rent a Car</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href = "agentPage/ad/new">New Ad</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "agentPage/message/new">New Message</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "agentPage/message/list">All messages</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "agentPage/request/list">All request</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href = "agentPage/ad/list">All ads</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "agentPage/review/list">All reviews</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href = "agentPage/stats">Edit Statistics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "agentPage/stats">Show Statistics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "agentPage/priceList/list">Price List</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "agentRegister">Register Agent</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href = "companyRegister">Register Company</a>
      </li>
    </ul>
  </div>
</nav>
