<div class="container">
  <app-admin-nav></app-admin-nav>
  <br/>

  <table class="table-striped" border="1">
    <thead>
    <title>Gas Types</title>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col" colspan = "2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let man of manModelList">
      <td>{{man.id}}</td>
      <td>{{man.name}}</td>
      <td><button class="btn-primary" (click)="editRow(man.id)">Edit</button> </td>
      <td><button class="btn-danger" (click)="deleteRow(man.id)">Remove</button></td>
    </tr>
    </tbody>
  </table>

</div>
