<div class = "container" *ngIf="_router.url.includes('agentPage')">
  <app-agent-nav></app-agent-nav>
</div>

<div class = "container" *ngIf="_router.url.includes('list') && _router.url.includes('review')">
  <app-review-list-agent></app-review-list-agent>
</div>

<div class = "container" *ngIf="_router.url.includes('list') && _router.url.includes('request')">
  <app-request-list-agent></app-request-list-agent>
</div>

<div class = "container" *ngIf="_router.url.includes('list') && _router.url.includes('priceList')">
  <app-price-list-agent></app-price-list-agent>
</div>
