<br/>
<form #agentPost="ngForm" (ngSubmit)="agentRegister()" novalidate>
	<div class="form-group">
		<label for="name">Name</label>
		<input id="name" name="name" type="text" class="form-control" [(ngModel)]="agent.name"/>
	</div>
	<div class="form-group">
		<label for="surname">Surname</label>
		<input id="surname" name="surname" type="text" class="form-control" [(ngModel)]="agent.surname"/>
	</div>
	<div class="form-group">
		<label for="address">Address</label>
		<input id="address" name="address" type="text" class="form-control" [(ngModel)]="agent.address" />
	</div>
	<div class="form-group">
		<label for="poslovniMaticniBroj">Business registration number</label>
		<input id="poslovniMaticniBroj" name="poslovniMaticniBroj" type="text" class="form-control" [(ngModel)]="poslovniMaticniBroj"/>
	</div>
	<button type="submit">Submit</button>
</form>
